body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #E5E5E5;
}

.wrapper {
    display: flex;;
    flex-direction: row-reverse;
    width: 1000px;
    justify-content: center;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 5px 5px 20px 0px #0000001A;
    border-radius: 5px;
}

aside {
    width: 450px;
    background: #1E2939;
    border-radius: 5px;
}
.div-photo {
    display: flex;
}

.cv-photo {
    margin: 25px auto;
    border-radius: 5px;
}

.header-secondary {
    color: #FFFFFF;
}

.contact-links {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.bold {
    font-weight: 700;
}

.list-secondary {
    color: #61dafb;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

.list-secondary-item {
    color: #FFFFFF;
}

.contact-block {
    margin-top: 50px;
    margin-left: 40px;
}

.tech-skills-block {
    margin-top: 45px;
    margin-left: 40px; 
}

.soft-skills-block {
    margin: 45px 0 50px 40px;
}

main {
    padding: 100px 80px 50px 80px; 
}

.main-description {
    width: 400px;
}

.job-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
}

h1 {
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
}

.main-description-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 40px;
    text-align: justify;
}

.projects {
    width: 500px;
    margin-bottom: 51px;
}

.list-primary {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color:#000000;
    padding-left: 0;
    list-style-position: inside;
}

.list-primary-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
    text-decoration: none;
}

.header-primary {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 12px;
}

.job-name {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 12px;
}

.job-date {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 8px;
}

.job-list {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
    padding-left: 0;
    list-style-position: outside;
    margin-left: 12px;
}

.job-management {
    font-size: 14px;
    font-weight: 700;
}

.date-line {
    color: black;
    word-spacing: 5px;
}