.buttonsPanel {
    margin: 5px;
    padding: 10px;
    border: 1px solid #0066ff;
    background-color: #0066ff;
}

.buttonsPanel:hover {
    background-color: #003399;
    border: 1px solid #003399;
    cursor: pointer;
    outline: 0;
    color: white;
}