.page-footer {
    text-align: center;
    padding: 30px 0;

    img {
        width: 100px;
    }

    .footer-nav {
        .menu {
            @include menu-list;
            padding: 20px 0;

            .menu-item {
                padding: 15px 0;

                a:hover {
                        font-size: 18px;
                        background-color: #473452;
                        border-radius: 10px;
                        padding: 5px;
                        color: #fff;
                        
                }
            }
        }
    }
}