body {
    margin: 0;
}
#container{
    border: 5px solid #666360;
    width: 400px;
    height: 400px;
}

div {
    width: 200px;
    height: 200px;
}
#a {
    background-color: #a6a9b6;
    position: relative;
}

#b {
    background-color: #e4e4e4;
    position: absolute;
    top: 5px;
    left: 205px;
}

#c {
    background-color: #ff912e;
}

#d {
    background-color: #a6a9b6;
    position: absolute;
    top: 205px;
    left: 205px;
}