*{
      box-sizing: border-box;
}

p {
    color: $base-font-color;
    font-size: $base-font-size;
}

a {
    color: $base-font-color;
    font-size: $base-font-size;
}
                                    
header {
    text-align: center;

    p {
        color: green;
    }
}

.col-1-3 {
    @include col-1-3(33.33%, 15px);
}