%btn {
    border-radius: 15px;
    color: white;
    padding: 14px 20px;
    display: inline-block;

    &:hover {
        color: white;
    }
}

.btn-primary {
    @extend %btn;
    background-color: red;
    border: 1px solid black;
}

.btn-secondary {
    @extend %btn;
    background-color: blue;
    border: 1px solid orange;
}